.bg{
    background-color: black;
}
.bg1{
    text-align: center;
    height: 100vh;
}
.image{
    width: 60vw;
    height: 70vh;
    border-radius: 10px;
}
button{
    border-radius: 10px!important;
    font-weight: bold;
}
.heading{
    color:orange;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.button1{
    color: white;
    background-color: orange;
}
.button2{
    color: black;
    background-color: white;
}
